@mixin button-style($color) {
    color: $color;
    background-color: transparent;
    border-color: $color;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
        background-color: $color;
        border-color: $color;
        color: #fff;
    }
}